/* font import  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap');
/* font-family: 'Poppins', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,500;0,600;1,500;1,600&display=swap');
/* font-family: 'Jost', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');
/* font-family: 'Cinzel Decorative', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700&display=swap');
/* font-family: 'Roboto Slab', serif; */

/* global css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Jost', sans-serif;
}

.max-width {
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
}

.section-mp {
    margin: 40px auto;
}

.title-box{
  display: flex;
  align-items: center;
  justify-content: center;
}

.title{
  margin: 10px auto;
  position: relative;
  /* background-color: white; */
  display: inline-block;
}


.title h2{
  font-family: Amita;
font-size: 44px;
font-weight: 700;
text-align: center;
color: #FC6C03;
position: relative;
}

#about .about-content .title h2,
#benefits .title h2{
  font-family: 'Cinzel Decorative', sans-serif;  
  font-size: 32px;
}

.title h2::before{
  content: " ";
  height: 4px;
  width: 45px;
  background-color: #FC6C03;
  position: absolute;
  top: 50%;
  left: -13%;
}

.title h2::after{
  content: " ";
  height: 4px;
  width: 45px;
  background-color: #FC6C03;
  position: absolute;
  top: 50%;
  right: -13%;
}

.title i{
  font-size: 80px;
  color: rgba(252, 108, 3, 0.4);
  position: absolute;
  top: -30px;
  left: 36%;
}

.more{
  background: linear-gradient(90deg, #FC6C03, #F83C00);
  color: white;
  border: none;
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 6px;
  margin: 15px;
  cursor: pointer;
 transition: all 0.3s ease;
}

/* Upper nav part  */
#upper-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    background: #FC6C03;
    padding: 10px 40px;
}

.text {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

#upper-nav .left {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#upper-nav .left i{
    padding-right: 6px;
    font-size: 16px;
}

/* #upper-nav .left div:nth-child(1) {
    padding-right: 15px;

} */

#upper-nav .middle {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: .1rem;
}

#upper-nav .right a {
    font-size: 22px;
    color: white;
    padding: 0 8px;

}

/* Navigation BAr  */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;    
    background: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    position: sticky;
    top: 0;
    left: 0;
    padding: 2px 40px;
    z-index: 999;
}

#header .logo-box{
  display: flex;
  align-items: center;
}

#header .logo-box img {
  height: 90px;
  max-width: 100%;
  margin-right : 10px;
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.navbar li {
    position: relative;
    margin: 0 2px;
}

.navbar li a {
    /* text-decoration: none; */
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #1a1a1a;
    padding: 10px;    
    transition: all 0.3s ease;
}

.navbar li:hover a{
    /* background-color: linear-gradient(90deg,#ff9800,#ff5757); */
    background: linear-gradient(90deg, #FC6C03, #F83C00);
    color: white;
    border-radius: 6px;
    /* font-weight: 500; */
    text-decoration: none;
    transition: all 0.3s ease;
}


#mobile {
    display: none;
}

#close {
    display: none;
}

/* howm carousel part  */

#home-slider{
    width: 100%;
    height: 100vh;
    margin-bottom: 40px;
    background-color: #1a1a1a;
    position: relative;
}
#home-slider .swiper {
    width: 100%;
    height: 100%;
  }

  #home-slider  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: linear-gradient(180deg, rgba(252, 75, 3, 0.2) 69.59%, rgba(252, 75, 3, 0.2) 100%)   ;
    display: flex;
    justify-content: center;  
    align-items: center;    
  }

  #home-slider  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: -1;
  }
 
 /* #about section   */
 #about{
  margin: 40px ;
 }

 #about .about-content .title h2{
  font-size: 40px;
 }

 #about .title h2::before{
  left: -26%;
 }

 #about .title h2::after{
  right: -30%;
 }

 #about .about-content{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
}

#about .about-content .left {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#about .about-content .column .img{
  background: url("../data/home_data/about/about-main.jpg") no-repeat center;
  height: 400px;
  width: 300px ;
  background-size: cover;
  position: relative;
  z-index: 4;
}

#about .column .img::after{
  content: " ";
  background: url("../data/home_data/about/about-down.jpg") center;
  height: 200px;
  width: 180px;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: -30%;
  bottom: -15%;
  z-index: -4;
}

#about .column .img::before {
  content: " ";
  background: url("../data/home_data/about/about-up.jpg") center;
  height: 180px;
  width: 160px;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: -15%;
  left: -20%;
  z-index: -6;
}


#about .about-content .right{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  margin-left: 20px;
}

#about .about-content .right .head{
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
  line-height: 30px;
  text-align: justify;
  padding: 10px 0;
}

#about .about-content .right p{  
font-size: 18px;
line-height: 30px;
text-align: center;
padding: 10px 0;
}

#about .more{
  font-size: 20px;
    padding: 10px 20px;
    border-radius: 30px;
}

/* Pooja section    */

#pooja{    
    width: 100%;
    height: 90vh;
    position: relative;    
}


.slide-container{
    max-width: 1180px;
    width: 100%;
    padding: 40px 0;
  }
  .slide-content{
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
  }
  #pooja .card{
    /* width: 330px; */
    height: 420px;
    border-radius: 25px;
    background-color: #DE5C28;
  }
  
  #pooja .image-content{
    width: 100%;
    height: 200px;  
  } 
  #pooja .image-content .card-img{    
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  #pooja .card-content{
    padding: 20px;
  }

  #pooja .card-content  .same{
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.06em;
  }
  
  .name{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 700;
    /* line-height: 30px; */
    color: #1a1a1a;
  }

  .description{
    font-size: 16px;
    color: #fff;
  }

  .button{
    border: none;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    font-weight: 500;
    color: #DE5C28;
    padding: 8px 16px;
    background-color: white;
    border-radius: 6px;
    margin: 14px 0;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  
  .swiper-navBtn{
    color: #F83C00;
    font-weight: 600;
    transition: color 0.3s ease;
  }
  .swiper-navBtn:hover{
    transform: scale(1.1);
  }
  .swiper-navBtn::before,
  .swiper-navBtn::after{
    font-size: 35px;
  }
  .swiper-button-next{
    right: 10px;
  }
  .swiper-button-prev{
    left: 10px;
  }

/* banefits section  */
#benefits{
  background-color: #F5F3F1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;

}

#benefits .data{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  text-align: center;
  width: 60%;
  color: #222222;
  font-style: italic;
}

#benefits .cards{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px 0;
}

#benefits .cards .card{
  background:linear-gradient(180deg, rgba(0, 0, 0, 0.04) 0%, rgba(252, 75, 3, 0.2) 69.59%, rgba(252, 75, 3, 0.2) 100%),
             url("../data/home_data/benefits/1.jpg") no-repeat center;
  background-size: cover;
  height: 320px;
  width: 260px;
  margin: 20px;
  padding: 15px;
  position: relative;
}

#benefits .cards .card:nth-child(2){
  background:linear-gradient(180deg, rgba(0, 0, 0, 0.04) 0%, rgba(252, 75, 3, 0.2) 69.59%, rgba(252, 75, 3, 0.2) 100%), url("../data/home_data/benefits/2.jpg") no-repeat ;
  background-size: cover;
}
#benefits .cards .card:nth-child(3){
  background:linear-gradient(180deg, rgba(0, 0, 0, 0.04) 0%, rgba(252, 75, 3, 0.2) 69.59%, rgba(252, 75, 3, 0.2) 100%), url("../data/home_data/benefits/3.jpg") no-repeat center;
  background-size: cover;
}
#benefits .cards .card:nth-child(4){
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.04) 0%, rgba(252, 75, 3, 0.2) 69.59%, rgba(252, 75, 3, 0.2) 100%),url("../data/home_data/benefits/4.jpg") no-repeat center;
  background-size: cover;
}

#benefits .cards .card p{
  position: absolute;
  bottom: 20px;
  color: white;
  font-size: 22px;
  font-weight: 600;
}


#associated{
  width: 100%;
  /* height: 90vh; */
  position: relative;  
  margin: 40px auto; 
}

#associated .margin{
  margin: 40px 30px;
}

.owl-carousel .owl-item img {
  display: block;
  /* width: 300px; */
  height: 260px;
  object-fit: cover;
}

#associated .owl-carousel .item h3{
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  margin: 15px 0 5px 0;  
  margin-left: 15px  
}

#associated .owl-carousel .item p{
  font-size: 16px;
  line-height: 20px;
  margin-left: 15px
}


#associated .owl-nav button span{
  font-size: 60px;
  line-height: 60px;
  color: #FC6C03;
  padding: 10px ;
}

  
/* footer part  */
#footer{
    margin-top: 40px;
    font-family: 'Jost', sans-serif;
}

#footer .footer-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: linear-gradient(0deg, rgba(33, 41, 49, 0.65), rgba(33, 41, 49, 0.65)), url("../data/home_data/footer-bg.svg"); */
    background: url("../data/home_data/footer-bg-new.svg");
    background-size: cover;
    background-repeat:no-repeat ;
    background-position: center;
    width: 100%;
    height: 100%;   
    color: white;
    padding: 40px;
}

.footer-content .logo img{
    height: 150px;
    width: auto;
}

.footer-content .data{
    width:60%;
    text-align: center;
    margin: 10px auto;
    font-size: 18px;
    font-weight: 400;
    margin: 10px 0
}
.footer-content .social-icon{
    margin: 20px 0;
     display: flex;
    align-items: center;
}
.footer-content .social-icon a{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    cursor: pointer;
    padding: 18px 20px;
    margin: 0 5px;
}
.footer-content .social-icon a i{
    font-size: 28px;
    font-weight: 500;
    color: #F83C00;
}

.footer-content .link{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5px 0;
}

.footer-content .link a{
    font-family: Jost;
    padding: 8px 20px;
    font-size: 18px;
    line-height: 29px;
    letter-spacing: 0.06em;
    color: white;
}

/* copyright part  */
.copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    font-size: 15px;
    color: #fff;
    background: #FC6C03;
    /* border-top: .5px solid #000; */
    flex-wrap: wrap;
}

.copyright a {
    color: #1a1a1a;
    font-style: italic;
}