@media (max-width:1024px) {

    /* navigation bar  */

.navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;
    position: fixed;
    top: 0;
    right: -270px;
    height: 100vh;
    width: 270px;
    background-color: #fff;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 20px;
    transition: 0.3s ease;        
}

.navbar li {
    margin-bottom: 25px;
    font-size: 20px;
}


#navbar.active {
    right: 0px;
}


#mobile {
    display: block;
    cursor: pointer;
}

#mobile i {
    color: #FC6C03;
    font-size: 35px;
    padding-left: 25px;
    transition: 0.3s ease;
}

#close {
    display: initial;
    position: absolute;
    top: 30px;
    right: 30px;
}

#close i {
    color: #23557C;
    font-size: 24px;
}

#about .about-content .left {
    width: 50%;
}

#about .about-content .right {    
    width: 45%;
}

}

@media (max-width:920px){
    #about .about-content {
        flex-direction: column;
    }
    #about .about-content .left {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* width: 40%; */
        padding: 100px 0;
    }
    #about .about-content .right {    
        width: 70%;
    }
} 


@media (max-width:770px) {
    .title h2{
        font-size: 40px;
    }
    .title i {
        font-size: 70px;
    }

    .title h2::after{
        right: -16%;
    }

    .title h2::before{
        left: -16%;
    }
    #benefits .title h2{
        font-size: 28px;
      }
    /* upper-nav part  */
    #upper-nav{
        justify-content: center;
        padding: 10px 20px;
    }   

    #upper-nav .right{
        display: none;
    }

    #upper-nav .left{
        justify-content: center;
    }

    #about .about-content .right {    
        width: 90%;
    }

    #benefits .data {        
        width: 80%;
    }

    /* footer part  */
    #footer .footer-content .data{
        width: 80%;
    }

    .footer-content .link a{
        font-size: 16px;
    }

    .footer-content .link a:nth-child(2){
        padding: 10px;
    }
    
}

@media screen and (max-width: 768px) {
    .slide-content{
      margin: 0 10px;
    }
    .swiper-navBtn{
      display: none;
    }
  }

@media (max-width:470px) {
    #header{
        padding: 2px 20px;
    }
    #benefits .title h2{ 
        font-size: 22px;
      }
    .title h2{
        font-size: 30px;
    }
    .title i {
        font-size: 64px;
    }

    .title h2::after{
        right: -21%;
        /* width: 30px; */
    }

    .title h2::before{
        left: -20%;
        /* width: 30px; */
    }
    #about {
        margin: 40px 20px;
    }
    #about .about-content .left {
        width: 100%;
        padding: 60px 0;
    }

    #about .about-content .column .img{
        height: 350px;
        width: 260px ;
    }
    #about .about-content .right {    
        width: 100%;
    }
    #about .about-content .right .head {
        font-size: 18px;
    }

    #about .about-content .right p {
        font-size: 16px;
    }

    #about .about-content .column .img::after,
    #about .about-content .column .img::before{
        height: 0;
        width: 0;
    }
    /* benefits section  */
    #benefits .data {
        width: 90%;
    }

    /* footer part  */
    #footer .footer-content{
        padding :40px 20px;
    }
    #footer .footer-content .data{
        width: 100%;
    }

    .footer-content .social-icon a {
        padding: 16px;
    }
    .footer-content .social-icon a i{
        font-size: 22px;
    }
    /* .footer-content .link {
        flex-direction: column;
        align-items: flex-start;
    } */

    .copyright p{
    font-size: 13px;
}
  }  

  @media (max-width:350px) {

    .title h2::after{
        width: 0px;
    }

    .title h2::before{
        width: 0px;
    }
  }